
        <!-- conteneur principal -->
        <div class="optionConteneur">
            <!-- header principal -->
         <%- include('partiel/header')%>
            <!-- la liste des options -->
            <div class="listOption">
                <div class="option">
                    <!-- The limit variable of the display option text -->
                    <% var limit = 200; %>
                    <img src="Photo Identifiee/Informatique.png" alt="info">
                    <h1 class="titre">Informatique Bureautique</h1>
                    <div class="desc">
                        <p> 
                            <%=data[0].content.substring(0, limit)%>
                             <a href="/:Informatique Bureautique">plus...</a>
                     </p>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Cosmetologie.png" alt="c">
                    <h1 class="titre">Cosmetologie</h1>
                    <div class="desc">
                        <p>
                            <%=data[1].content.substring(0, limit)%>
                            <a href="/:Cosmetologie">plus...</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Cuisine.png" alt="">
                    <h1 class="titre">Cuisine & Patisserie</h1>
                    <div class="desc">
                        <p>
                            <%=data[2].content.substring(0, limit)%>
                            <a href="/:Cuisine & Patisserie">plus...</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Couture.png" alt="">
                    <h1 class="titre">Couture & Haute Couture</h1>
                    <div class="desc">
                        <p>
                            <%=data[3].content.substring(0, limit)%>
                            <a href="/:Couture & Haute Couture">plus...</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Plomberie.png" alt="">
                    <h1 class="titre">Plomberie</h1>
                    <div class="desc">
                        <p>
                            <%=data[4].content.substring(0, limit)%>
                             <a href="/:Plomberie">plus...</a>
                            </p>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Electricite.png" alt="">
                    <h1 class="titre">Electricite</h1>
                    <div class="desc">
                        <p>
                            <%=data[5].content.substring(0, limit)%>
                             <a href="/:Electricite">plus...</a>
                            </p>
                    </div>
                </div>

                <div class="option">
                    <img src="PhotoWeb/refrigeration1.jpg" alt="">
                    <h1 class="titre">Refrigeration & Climatisation</h1>
                    <div class="desc">
                        <P>
                            <%=data[6].content.substring(0, limit)%>
                            <a href="/:Refrigeration et Climatisation">plus...</a>
                        </P>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Carrealage.png" alt="">
                    <h1 class="titre">Carrelage</h1>
                    <div class="desc">
                        <P>
                            <%=data[7].content.substring(0, limit)%>
                             <a href="/:Carrelage">plus...</a>
                            </P>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Technique Windows1.png" alt="">
                    <h1 class="titre">Technique Windows</h1>
                    <div class="desc">
                        <p>
                            <%=data[8].content.substring(0, limit)%>
                            <a href="/:Technique Windows">plus...</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <img src="PhotoWeb/DSC_0170.JPG" alt="">
                    <h1 class="titre">Comptabilite Informatise</h1>
                    <div class="desc">
                        <p>
                            <%=data[9].content.substring(0, limit)%>
                            <a href="/:Comptabilite Informatise">plus...</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <img src="PhotoWeb/IMG-20210908-WA0003.jpg" alt="">
                    <h1 class="titre">Secretariat de Direction</h1>
                    <div class="desc">
                        <p>
                            <%=data[10].content.substring(0, limit)%>
                             <a href="/:Secretaria de Direction">plus...</a>
                            </p>
                    </div>
                </div>

                <div class="option">
                    <img src="Photo Identifiee/Administration.png" alt="">
                    <h1 class="titre">Assistance Administrative</h1>
                    <div class="desc">
                        <p>
                            <%=data[11].content.substring(0, limit)%>
                             <a href="/:Assistance Administrative">plus...</a>
                            </p>
                    </div>
                </div>

                <div class="option">
                    <img src="PhotoWeb/IMG_5423.JPG" alt="">
                    <h1 class="titre">Technique Bancaire</h1>
                    <div class="desc">
                        <p>
                            <%=data[12].content.substring(0, limit)%>
                             <a href="/:Technique Bancaire">plus...</a>
                            </p>
                    </div>
                </div>

                <div class="option">
                    <img src="PhotoWeb/IMG_5422.JPG" alt="">
                    <h1 class="titre">Technique Douaniere</h1>
                    <div class="desc">
                        <p>
                            <%=data[13].content.substring(0, limit)%>
                            <a href="/:Technique Douaniere">plus...</a>
                        </p>
                    </div>
                </div>
                <div class="option">
                    <img src="Photo Identifiee/Hotellerie3.png" alt="">
                    <h1 class="titre">hotellerie & Tourisme</h1>
                    <div class="desc">
                        <p>
                            <%=data[14].content.substring(0, limit)%>
                             <a href="/:Hotellerie & Tourisme">plus...</a>
                            </p>
                    </div>
                </div>
            </div>

<!-- le pied de la page -->
           <%- include('partiel/footer')%>
    </div>
</body>
</html>